export const DevConfig = {
  github: {
    owner: 'shigueojp',
    repository: 'cdk-amplify-react',
  },
  env: { region: 'us-east-1' },
  ProdAcc: '183867474463',
};

export const ProdConfig = {
  ProdAcc: '183867474463',
  DevAcc: '727044573396',
};
