export const DevConfig = {
  github: {
    owner: 'shigueojp',
    repository: 'cdk-amplify-react',
  },
  env: { region: 'us-east-1' },
  AmplifyEnvProd: 'prod',
  AmplifyEnvDev: 'dev',
  accessKey: 'some-access-key',
  secretkey: 'some-secret-key',
};

export const ProdConfig = {
  ProdAcc: '183867474463',
  DevAcc: '727044573396',
};
